<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Edit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" >

    </head>
    <body>
        <div style="font-size: 30px; text-align: center; margin-top: 200px">Edit | <a style="font-size: 20px;" th:href="@{/list}">Back to Staff List</a></div>
        <br/>
        <form style="margin-left: 40%" name="editForm" th:action="@{/edit/{id}(id=${staff.id})}" id="DemoJqueryValidation" method="POST">
            <!--<input type="hidden" name="id" th:value="${staff.id}"/>-->
            <div style="width: 30%" class="input-group mb-3">
                <div class="input-group-prepend"><span style="padding-right: 40px" class="input-group-text" id="basic-addon1">Name</span></div>
                <input class="form-control" style="width: 20%" type="text" name="name" th:value="${staff.name}" required="required"/>
            </div>
            <div style="width: 30%" class="input-group mb-3">
                <div class="input-group-prepend"><span style="padding-right: 8px" class="input-group-text" id="basic-addon1">UserName</span></div>
                <input class="form-control" style="width: 20%" type="email" name="username" th:value="${staff.username}" required="required"/>
            </div>
            <div style="width: 30%" class="input-group mb-3">
                <div class="input-group-prepend"><span style="padding-right: 16px" class="input-group-text" id="basic-addon1">Password</span></div>
                <input class="form-control" style="width: 20%" type="text" name="password" th:value="${staff.password}" required="required"/>
            </div>
            <br/>
            <input style="width: 30%" class="btn btn-primary btn-lg btn-block" type="submit" value="Save" />
        </form>
        <br/>
        <div style="width: 18%;margin-left: 40%" th:class="${msg} ? 'alert alert-danger' : ''">
            <strong th:text="${msg}"></strong>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#DemoJqueryValidation").validate({
                    rules: {
                        name: {
                            required: true,
                            minlength: 2,
                            maxlength: 10
                        },
                        password: {
                            required: true,
                            minlength: 8
                        },
                        username: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        name: {
                            required: "Vui lòng nhập tên",
                            minlength: "Tên phải từ 2 ký tự trở lên",
                            maxlength: "Tên không được dài hơn 10 ký tự"
                        },
                        password: {
                            required: 'Vui lòng nhập mật khẩu',
                            minlength: 'Vui lòng nhập ít nhất 8 kí tự'
                        },
                        username: {
                            required: "Vui lòng nhập email"
                        }
                    }
                });
            });
        </script>
    </body>
</html>
