<!DOCTYPE html>

<html>
    <head>
        <title>LIST</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div style="font-size: 30px; text-align: center; margin-top: 200px">List Staff | <a style="font-size: 20px;" th:href="@{/home}">Back to My Info</a></div>
        <br/>
        <div style="margin-left: 30%">
            <table style="width: 55%; text-align: center" class="table table-hover" border="1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Password</th>
                        <th scope="col">Username</th>
                        <th colspan="2" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="staff : ${staffList}" th:style="${staffId} == ${staff.id} ? 'background: whitesmoke' : ''">
                        <td style="font-weight: bold; vertical-align: middle" scope="row" th:utext="${staff.id}">...</td>
                        <td style="vertical-align: middle" th:utext="${staff.name}">...</td>
                        <td style="vertical-align: middle" th:utext="${staff.password}">...</td>
                        <td style="vertical-align: middle" th:utext="${staff.username}">...</td>
                        <td ><a class="btn btn-outline-danger" style="text-decoration: none" th:href="@{/delete/{id}(id=${staff.id})}">Delete</a></td>
                        <td ><a class="btn btn-outline-warning" style="text-decoration: none" th:href="@{/edit/{id}(id=${staff.id})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div style="width: 55%" th:class="${msg} ? 'alert alert-success' : ''">
                <strong th:text="${msg}"></strong>
            </div>

            <div style="width: 55%" th:class="${error} ? 'alert alert-danger' : ''">
                <strong th:text="${error}"></strong>
            </div>

            <div style="width: 55%" th:class="${text} ? 'alert alert-info' : ''">
                <strong th:text="${text}"></strong>
            </div>

        </div>
    </body>
</html>

